#page {
    /*transition: 1.5s;*/
    transition-timing-function: ease-in-out;
}

#greeting {
    display: block;
    color: #fc8d1f;
    font-weight: bold;
    font-size: 100px;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadingIn 2s ease-in 0s 1 forwards;
    animation-fill-mode: forwards;
}

#loading {
    display: block;
    position: absolute;
    top: 43%;
    left: 41.5%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 250px;
    height: 250px;
    padding: 0;
    margin: 0;
    background-image: url("../img/dumpling.png");
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: center;
    animation: rotation 0.8s linear 0s 3 forwards;
    animation-fill-mode: forwards;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

@media screen and (max-width: 1440px) {
    #loading {
        top: 45%;
        left: 41%;
    }
}

@media screen and (max-width: 1024px) {
    #loading {
        top: 45%;
        left: 37%;
    }
}


@keyframes rotation {
    0%   {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

@keyframes fadingIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
