#gallery-container {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: static;
	transform: translateY(10%);
}

#gallery-container > .section-title{
	box-sizing: content-box;
	width: 45vw;
	height: 5%;
	padding: 1.5% 0 2% 0;
	background-color: #fc8d1f;
	box-shadow: 10px 0px 50px 2px #C5C5C5;
	border-radius: 10px;
	text-align: center;
	font-size: 25px;
}


#photo-gallery {
	width: 80%;
	float: left;
	position: static;
	padding: 0 5vw 0 5vw;
	transform: translateY(6vw);
}


.gallery-item {
	width: 10vw;
	height: 17.5vw;
	float: left;
	box-sizing: content-box;
	width: 15vw;
	background-color: #fff;
	margin: 0 2.5vw 5vw 2.5vw;
	padding: 0;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 20px 25px 5px #C5C5C5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: 0.2s;
	transition-timing-function: ease-out;
}

.gallery-item > p{
	background-color: #fc8d1f;
	color: #fff;
	box-sizing: content-box;
	width: 100%;
	heigth: 100%;
	text-align: center;
	font: karla;
	font-size: 20px;
	font-weight: bold;
	border-radius: 0 0 10px 10px;
}

.gallery-item > img {
	transition: 0.5s;
	width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 10px 10px 0 0;
	transition: 0s;
}

.gallery-item > #white-space {
	transition: 0.5s;
	width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 10px 10px 0 0;
	transition: 0s;
	height: 15vw;
}

.gallery-item:hover {
	transform: scale(1.1);
	cursor: pointer;
}



#recipe-button {
	position: absolute;
	transform: translateY(-15%);
	z-index: 4;
	margin: 0;
	padding: 10px 15px 10px 15px;
	border: 5px solid #fc8d1f;
	border-radius: 10px;
	background-color: #FFFFFF;
	display: none;
	flex-direction: column;
	justify-content: center;
}

@media screen and (max-width: 1440px) {
    #recipe-button {
    	top: 30%;
    }
}

@media screen and (max-width: 1024px) {
    #recipe-button {
    	top: 20%;
    }
}


#recipe-button > a {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #fc8d1f;
	cursor: pointer;
	text-decoration: none;
}

#recipe-button > a:hover {
	opacity: 0.75;
}


